body, html {
    padding: 0;
    margin: 0;
    line-height: 1.625;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    background-color: #fff;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    height: 3em;
    line-height: 3em;
    font-family: Montserrat,"Open Sans",sans-serif;
    box-shadow: 0 0 3px #4d4d4d;
}
.header .title {
    float: left;
    text-align: center;
    padding: 0 1em;
    font-size: 1em;
    font-family: Montserrat,"Open Sans",sans-serif;
    font-weight: 400;
    color: #4d4d4d;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    display: block;
}
.header-myname{
    line-height: 1em;
}
.header-description{
    line-height: 1em;
    font-size: 0.8em;
}
.header-right {padding: 0 2em;font-size: 0.9em;float: right;}


.feed-title-container {
    max-width: 800px;
    clear: left;
    padding-bottom: 0;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 4em;
}
.feed-title {
        /* display: inline-block; */
        margin: 0 8px 0 0;
        text-align: left;
        width: auto;
        color: #009061;
        font-weight: 600;
        font-family: Montserrat,"Open Sans",sans-serif;
}
.feed-list {
        max-width: 800px;
    margin: 0 auto;
}
.feed-item{
    padding: 20px 0 0px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}
.item-title{
    letter-spacing: -.5px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: Montserrat,"Open Sans",sans-serif;
}
.img-item{
    padding: .5em;
}
.dev-tag {
    font-size: 10px;
    border: 1px solid #0069ff;
    color: #0069ff;
    /* text-transform: uppercase; */
    border-radius: 3px;
    letter-spacing: .5px;
    margin: 0 2px;
    padding: 3px 4px 2px;
    vertical-align: middle;
    width:  max-content;
    font-size: 0.5em;
    font-weight: 700;
}

.title-container{
    display: block;
    margin: auto 0;
}

.load-more-results {
    color: #666;
    padding: 15px;
    font-size: 15px;
    border-radius: 3px;
    background-color: #efefef;
}

.load-more-results-container {
    text-align: center;
    margin-top: 60px;
}